[Unit]
Description=One Hub API Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/xxnuo/projects/one-hub
ExecStart=/home/xxnuo/projects/one-hub/dist/one-api --port 10085 --log-dir /home/xxnuo/projects/one-hub/logs
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
